.movie-list {
 
    width: "75%";
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
   width: 230;
  }

  
.movieDescription {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
   
    
}

.movieDescription .content {
    display: flex;
    position: relative;
    gap: 50px;
    flex-direction: row;
    color: "white";
}

@media only screen and (max-width: 768px) {
    .movieDescription .content {
        flex-direction: column;
        gap: 25px;
    }
}

.movieDescription .content .left {
    flex-shrink: 0;
}

.movieDescription .content .left .posterImg {
    width: 100%;
    display: block;
    color: "white";
    border-radius: 12px;
}

@media only screen and (min-width: 768px) {
    .movieDescription .content .left .posterImg {
        max-width: 350px;
    }
}

.movieDescription .content .right .title {
    font-size: 34px;
    line-height: 44px;
    text-align: left;
    color: "white";
}


@media only screen and (max-width: 768px) {
    .movieDescription .content .right .title {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
}

.movieDescription .content .right .genres {
    flex-flow: row wrap;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .movieDescription .content .right .genres {
        justify-content: center;
    }
}

.movieDescription .content .right .overview .heading {
    font-size: 22px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .movieDescription .content .right .overview .heading {
        text-align: center;
    }
}

.movieDescription .content .right .overview .fullplot {
    font-style: italic;
    opacity: 0.5;
    line-height: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 15px;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .movieDescription .content .right .overview .fullplot {
        text-align: center;
    }
}

.movieDescription .content .right .circleRating {
    width: 60px;
    display: block;
}

@media only screen and (max-width: 768px) {
    .movieDescription .content .right .circleRating {
        margin: 0 auto;
    }
}

.movieDescription .content .right .row {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
}

.movieDescription .content .right .info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 15px 0;
    display: flex;
}

.movieDescription .content .right .info .infoItem {
    margin-right: 30px;
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width: 768px) {
    .movieDescription .content .right .info .infoItem {
        justify-content: center;
    }
}

.movieDescription .content .right .info .text {
    margin-right: 10px;
    opacity: 0.5;
    line-height: 24px;
    font-style: italic;
}

.movieDescription .content .right .info .text.bold {
    font-weight: 500;
    opacity: 1;
    font-style: normal;
}

.noMovieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
}

.resultNotFound {
    max-width: 45%;
    height: auto;
}

.movieDescription .movieDescriptionSkeleton {
    display: flex;
    position: relative;
    gap: 50px;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .movieDescription .movieDescriptionSkeleton {
        flex-direction: column;
        gap: 25px;
    }
}

.movieDescription .movieDescriptionSkeleton .contentWrapper {
    display: flex;
    gap: 50px;
}

.movieDescription .movieDescriptionSkeleton .left {
    flex-shrink: 0;
    width: 100%;
    display: block;
    border-radius: 12px;
    aspect-ratio: 1/1.5;
}

@media only screen and (min-width: 768px) {
    .movieDescription .movieDescriptionSkeleton .left {
        max-width: 350px;
    }
}

.movieDescription .movieDescriptionSkeleton .right {
    width: 100%;
}

.movieDescription .movieDescriptionSkeleton .right .row {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.movieDescription .movieDescriptionSkeleton .right .row:nth-child(2) {
    width: 75%;
    margin-bottom: 50px;
}

.movieDescription .movieDescriptionSkeleton .right .row:nth-child(5) {
    width: 50%;
    margin-bottom: 50px;
}